.info {
    font-size: 40px;
}

.article {
    margin-top: 10%;
}

.students {
    margin-top: 8%;
}

.register {
    margin-top: 10%;
    height: 250px;
}

.register-info {
    padding-left: 10%;
}

.register-btn {
    padding-left: 70px;
}

.feedback {
    margin-top: 8%;
}

.fa-star {
    color: gold;
}

.accordion {
    margin-top: 8%;
}

.accordion-item {
    width: 700px;
}

.company {
    margin-top: 8%;
}


@media only screen and (max-width: 575.98px) {
    .banner-info {
        padding-bottom: 0;
    }

    .info {
        font-size: 20px;
        margin-bottom: 0;
    }

    .line {
        line-height: 20px;
        margin-bottom: 10px;
    }

    .register-info {
        text-align: center;
        padding-left: 10px;
    }

    .register-btn {
        padding-left: 50px;
    }

    .accordion-item {
        width: 350px;
    }

    .course-img {
        width: 100%;
    }
}